# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: they are divided into two integers which are whole numbers like 2, 10, 300 and float which are decimals like 0.5, 5.5, 1000.6

Strings: They are characters sentences which are created using "" or ''.

Lists: they are built in data type, used to store a collection of data, lists are ordered changeable duplicate values, they are changeable which means that they can be updated or adjusted.

Tuples: they are built in data type, used to store a collection of data, they are ordered but not changeable meaning they can not be changed or updated. 

Dictionaries: they are a built in data type, they are a collection of data which is unordered, changeable and does not allow duplicates. Data is stored as key value pairs.

Sets: they are a built in data type, unordered and unindexed and changeable but doesn't allow duplicate values.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [11]:
(((((0.102591*300)/3)**2)+5)-10)

100.24913281

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

1- 44, 2- 29, 3- 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

#### Float

What would you use to find a numberâ€™s square root, as well as its square?

In [14]:
# Square root: 
100**0.5

10.0

In [13]:
# Square: 
100**2

10000

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [15]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [16]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [17]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [18]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [19]:
# Method 1:
my_list=[0,0,0]
my_list

[0, 0, 0]

In [21]:
# Method 2:
my_list1 = list((0,0,0))
my_list1

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [22]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [25]:
list4 = [5,3,4,6,1]
print('This is the list in ascending order: ',sorted(list4))
print('This is the list in descending order: ',sorted(list4,reverse=True))

This is the list in ascending order:  [1, 3, 4, 5, 6]
This is the list in descending order:  [6, 5, 4, 3, 1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [26]:
d = {'simple_key':'hello'}
# Grab 'hello'
d.get('simple_key')

'hello'

In [27]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [32]:
# Getting a little tricker
d = {'k1':
     [{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [37]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2]

['hello']

## Can you sort a dictionary? Why or why not?<br><br>
### You can't sort a dictionary as it is orderless, if you need sorted data then use an ordered data type such as a list of tuples.

## Tuples

### What is the major difference between tuples and lists?<br><br>
#### Lists are mutable or can be changed while tuples are immutable or can't be changed. If you want to change a tuple then convert it to a list then update it then convert it back to a tuple

### How do you create a tuple?<br><br>
#### using the ( ) or tuple(( ))

## Sets

### What is unique about a set?<br><br>
#### Sets don't allow duplicate values. If you update with a value that is present in it, it will not be updated as it is already there.

Use a set to find the unique values of the list below:

In [40]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [41]:
# Answer before running cell
2 > 3 # False

False

In [42]:
# Answer before running cell
3 <= 2 # False

False

In [43]:
# Answer before running cell
3 == 2.0 # False

False

In [44]:
# Answer before running cell
3.0 == 3 # True

True

In [45]:
# Answer before running cell
4**0.5 != 2 # False

False

Final Question: What is the boolean output of the cell block below?

In [46]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] # 3>=4 so the answer is False

False

# Great Work!